
h1{
        text-align: center;
        color: rgb(214, 147, 45);
        text-decoration: underline;
        justify-content:center;
        font-family: 'Orbitron', sans-serif;
        font-weight: 500;
        font-size: 50px;
}
body{
    background: whitesmoke;
    padding: 1rem 5rem;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(45deg,rgba(183, 204, 248, 0.717),rgba(7, 43, 127, 0.679));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header{
    display: flex;
    justify-content:center;
    align-items: center;
}

#input{
    font-size: 18px;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-radius: 15px;
    background: aliceblue;
    font-size: 30px;
}
#search{
    background: none;
    padding: 5px 20px;
    color: aliceblue;
    outline: none;
    background: cadetblue;
    font-size: 30px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
}
.weather{
    text-align: center;
    color: aliceblue;
    margin-top: 10px;
}
.weather-icon{
   width: 170px;
   margin: 30px;
}
.weather h1{
    margin-top: 0px;
    font-size: 50px;
    font-weight: 300;
}
.weather h2{
    font-size: 60px;
    font-weight: 500;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 40px;
}
.col{
    display: flex;
    align-items: center;
    text-align: center;
}
.col img{
    width: 90px;
    margin-right: 20px;
}
.humidity, .wind{
    font-size: 30px;
    margin-top: 6px;
}
